.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.link{
    color: var(--text-color);
    font-size: var(--small-desktop);
    transition: all 0.3s ease;
}

.link:hover{
    color: var(--second-bg);
}

.link:active{
    color: var(--btn-hover);
} 