.container {
  margin: 64px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
  gap: 1rem;
}

.caption {
  text-align: center;
  font-size: var(--h3-desktop);
  color: var(--btn-hover);
}

.card {
  position: relative;
  width: 170px;
  height: 180px;
  box-shadow: 1px 1px 6px #aaa, -1px -1px 6px #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}
.mobile_size {
  width: 140px;
  height: 150px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #bbb4;
  transition: all 0.5s;
  color: var(--text-color);
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.iphone:hover:after {
  content: "ایسوس";
}
.samsung:hover:after {
  content: "اپل";
}
.xiaomi:hover:after {
  content: "لنووو";
}
.hoawi:hover:after {
  content: "ایسر";
}
.lg:hover:after {
  content: "msi";
}
